@font-face {
    font-family: PixelPurl;
    src: url("../fonts/PixelPurl.ttf");
}

@font-face {
    font-family: PixelifySans;
    src: url("../fonts/PixelifySans-Regular.ttf");
}

@font-face {
    font-family: GeistPixel;
    src: url("../fonts/GeistPixel-Regular-VariableFont_ELSH.ttf");
}

.drewsweeper {
    background-image: url("../images/tile.png");

    font-family: "GeistPixel";

    color: white;

    text-align: center;

    border-top: solid #73bed3 2px;
    border-left: solid #73bed3 2px;
    border-right: solid #3c5e8b 2px;
    border-bottom: solid #3c5e8b 2px;
}

.drewsweeper > hr {
    width: 99%;
    
    border: dashed white 1px;
}