@font-face {
    font-family: CormorantGaramond;
    src: url("../fonts/CormorantGaramond-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: CormorantGaramond;
    src: url("../fonts/CormorantGaramond-Bold.ttf");
    font-weight: 700;
}

.hell-hotel-no-depth {
    background-color: #a03131;

    color: black;

    font-family: "CormorantGaramond";
    font-size: larger;

    text-align: center;

    border: solid black 3px;
}

.hell-hotel-no-depth > hr {
    width: 99%;

    border: solid black 1px;
}