@font-face {
    font-family: InstagramSans;
    src: url("../fonts/instagram-sans.ttf");
}

.link-instagram-button {
    background: linear-gradient(
        to right, 
        #ffdf9e, 
        #e56969, 
        #8a49a1
    );
    
    color: black;
    
    font-family: "InstagramSans";
    text-decoration: none;
    letter-spacing: -0.5px;
    
    padding: 5px;

    border: solid #8a49a1 2px;
    border-radius: 5px;
}