.onyx {
    border: solid white 2px;
}

.onyx > .banner-bleed {
    background-image: linear-gradient(
        to right,
        #9000ff 0 50%,
        white 50% 100%
    );
}

.onyx .banner {
    display: block;
    max-width: 75%;
    margin-inline: auto;
}