@font-face {
    font-family: AsapSharp;
    src: url("../fonts/AsapSharp-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: AsapSharp;
    src: url("../fonts/AsapSharp-Bold.ttf");
    font-weight: 700;
}

.onyx {
    font-family: "AsapSharp";
    text-align: center;
}

.onyx > .banner-bleed {
    background-image: linear-gradient(
        to right,
        #9000ff 0 50%,
        white 50% 100%
    );
}

.onyx .banner {
    display: block;
    max-width: 50%;
    margin-inline: auto;
}