@font-face {
    font-family: AsapSharp;
    src: url("../fonts/AsapSharp-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: AsapSharp;
    src: url("../fonts/AsapSharp-Bold.ttf");
    font-weight: 700;
}

.onyx {
    font-family: "AsapSharp";
    text-align: center;
}

.onyx > .banner {
    max-width: 50%;
}